/* Estilos generales */
.logo {
  font-family: "Bebas Neue", sans-serif;
}

.text {
  font-family: "Raleway", sans-serif;
}
.shad{
  box-shadow: 10px 5px 5px black;
  border-radius: 50%;
}
#img {
  height: 150px;
}
.vh-custom{
  height: 100vh;
}
.bg-gris{
  background-color: #636e72;
}
/* Estilos del header */
#fondo {
  background-image: url("./5.jpg");
  background-size: cover;
  transition: transform 0.3s ease; /* Agregamos la transición para el efecto de animación */
}

.header-hidden {
  transform: translateY(-100%);
}

/* Estilos del botón */
#boton {
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  transition: opacity 0.3s ease; /* Agregamos la transición para el efecto de animación */
}

/* Estilos adicionales para el contenido cuando el header está fijo */
.content {
  padding-top: 100px; /* Asegura que el contenido no quede oculto detrás del header */
}

/* Estilos del spacer */
.spacer {
  height: 0;
  transition: height 0.3s ease;
}

.spacer-visible {
  height: 50px; /* Ajusta el tamaño según el espacio que necesites */
}

/* Animación del contenido */
@keyframes slideUpAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.room-list-hidden {
  animation: slideUpAnimation 0.3s ease forwards;
}
