/* Estilos generales */
.logo {
  font-family: "Bebas Neue", sans-serif;
}
li {
  list-style: none;
}
.text {
  font-family: "Raleway", sans-serif;
}
.shad {
  filter: drop-shadow(0px 8px 25px rgba(255, 255, 255, 0.623));
}
.shad1 {
  filter: drop-shadow(0px 0px 10px rgba(255, 230, 0, 0.438));
}
#img {
  height: 150px;
}
.vh-custom {
  height: 100vh;
}
.bg-gris {
  background-color: #e6e6e6;
}
.bg-header {
  background-color: #0d0d0d;
}
/* Estilos del header */
#fondo {
  background-color: #e6e6e6;
  background-image: url("/5.jpg");
  background-size: 1400px;
  transition: transform 0.3s ease; /* Agregamos la transición para el efecto de animación */
}
@media only screen and (max-width: 576px) {
  #fondo {
    background-image: url("/hotel-cefe.jpg");
  }
}

.header-hidden {
  transform: translateY(-100%);
}

/* Estilos del botón */
#boton {
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  transition: opacity 0.3s ease; /* Agregamos la transición para el efecto de animación */
}

/* Estilos adicionales para el contenido cuando el header está fijo */

/* Estilos del spacer */
.spacer {
  height: 0;
  transition: height 0.3s ease;
}

.spacer-visible {
  height: 50px; /* Ajusta el tamaño según el espacio que necesites */
}

/* Animación del contenido */
@keyframes slideUpAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInAnimation 1s ease;
}

.room-list-hidden {
  animation: slideUpAnimation 0.1s ease forwards;
}

/* Estilos para la sección "Por qué elegirnos" */
.porque-elegirnos {
  background-color: #e6e6e6;
  padding: 30px 0;
}

.container {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para los iconos */
.iconos-hotel {
  display: flex;
  justify-content: space-around;
}

.icono {
  flex: 1;
  margin: 0 15px;
}

.icono img {
  width: 50px;
  height: 50px;
}

.icono p {
  margin-top: 10px;
}
